@media only screen and ( min-width: 1081px ) /* 1000 */
    {
        .mobilemenu {
        	display: none;
        }

         .fixed {
         	position: fixed;
         	top: 0;
         	margin-top: 0px;
         	z-index: 999;
         	width: 100%;
        }

        .fullheader {
        	top: 0;
        	width: 100%;
        	z-index: 99;
        }
        .logged-in .fullheader {
        	top: 30px;
        	width: 100%;
        	z-index: 99;
        }
        .logged-in .mspacer {
        	top:30px;
        }
}


